.container-description-order {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}
.container-description-order .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1440px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .container-description-order .wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.container-description-order .wrapper .column__header {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: bolder;
}
@media screen and (max-width: 768px) {
  .container-description-order .wrapper .column__header {
    font-size: 18px;
  }
}
.container-description-order .wrapper .column__list {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: 1fr;
}
.container-description-order .wrapper .column__list .text-red {
  color: rgb(209, 53, 40);
}
.container-description-order .wrapper .column__list .list-item {
  font-size: 14px;
  margin-top: 0;
  font-size: 14px;
  margin-bottom: 5px;
}
.container-description-order .wrapper .column__list .list-wrapper {
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  .container-description-order .wrapper .column__list .list-wrapper {
    padding: 0 90px;
  }
}
@media screen and (max-width: 425px) {
  .container-description-order .wrapper .column__list .list-wrapper {
    padding: 0 30px;
  }
}
@media screen and (max-width: 320px) {
  .container-description-order .wrapper .column__list .list-wrapper {
    padding: 0 20px;
  }
}
.container-description-order .wrapper .column__card {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: 1fr;
  gap: 10px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .container-description-order .wrapper .column__card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}
.container-description-order .wrapper .column__card .column__card-item {
  width: 60px;
  height: auto;
  line-height: 25px;
  color: white;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .container-description-order .wrapper .column__card .column__card-item {
    width: auto;
    padding: 5px 5px 5px 5px;
    font-size: 14px;
  }
}
.container-description-order .wrapper .column__card .column__card-item:nth-child(1) {
  background-color: #524442;
}
.container-description-order .wrapper .column__card .column__card-item:nth-child(2) {
  background-color: #9da3a7;
}
.container-description-order .wrapper .column__card .column__card-item:nth-child(3) {
  background-color: #c8cbc8;
}
.container-description-order .wrapper .column__card .column__card-item:nth-child(4) {
  background-color: #f1f2ed;
}
.container-description-order .wrapper .column__link {
  margin-top: 20px;
  color: rgb(209, 53, 40);
  text-decoration: underline dashed;
}
.container-description-order .wrapper .column__link:before {
  content: url("./icons/arrow-icons.png");
  position: relative;
  top: 5px;
}
.container-description-order .wrapper .column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container-description-order .wrapper .column .column__list-item {
  display: flex;
}
.container-description-order .wrapper .column .list-item {
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  .container-description-order .wrapper .column .list-item {
    padding: 0 90px;
  }
}
@media screen and (max-width: 425px) {
  .container-description-order .wrapper .column .list-item {
    padding: 0 30px;
  }
}
@media screen and (max-width: 320px) {
  .container-description-order .wrapper .column .list-item {
    padding: 0 20px;
  }
}

/*# sourceMappingURL=style.css.map */
